body {
   margin: 0;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

main {
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

ul {
   margin: 0;
}

/* ---------------------HEADER----------------- */
header {
   width: 100%;
   height: 83px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #131313;
}

/* ------------------DIV-container------------- */

.container {
   width: 100%;
   max-width: 1256px;
   /* height: 37px; */

   /* background-color: #3d3a3a; */

   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* -----------------/DIV-container------------- */
/* header_span */
.header_span {
   width: 179.74px;
   height: 10px;

   font-family: 'Nunito Sans';
   text-transform: uppercase;
   font-size: 11px;
   line-height: 15px;

   color: #E3B873;
}

/* /header_span */

/* nav  */
nav {
   width: 581.43px;
   height: 10px;
}

.nav_ul {
   width: 581.43px;
   height: 10px;

   display: flex;
   justify-content: space-between;
   align-items: center;

}

.nav_li {
   list-style: none;
}

.nav_a {
   text-decoration: none;

   font-family: 'Nunito Sans';
   text-transform: uppercase;
   font-size: 11px;
   line-height: 15px;

   color: #ffffff;
}

.nav_a:hover {
   color: #E3B873;
}

/* /nav  */

/* span_number */
.span_number {
   width: 126px;
   height: 16px;
}

.a_number {
   font-family: 'Nunito Sans';
   text-transform: uppercase;
   font-size: 11px;
   line-height: 15px;

   color: #E3B873;
}

.a_number:hover {
   color: #ffffff;
}

/* /span_number */

/* header_button */
.header_button {
   width: 161px;
   height: 37px;

   border-radius: 2px;
   border: none;

   background-color: #E3B873;
   color: #ffffff;

   font-family: 'Nunito Sans';
   text-transform: uppercase;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   font-style: italic;
}

.header_button:hover {
   background-color: rgba(227, 184, 115, 0.2);

}

/* .header_button:hover {
   background-color: #ffffff;
   color: #E3B873;
   
} */
/* /header_button */

/* ---------------------/HEADER---------------- */
/* ---------------------MAIN---------------- */

main {
   width: 100%;
   height: 100%;
   /* display: flex;
   justify-content: center;
   align-items: center; */

}

/* ------------------------------------------ */


/* -----------------W E L C O M E-------------- */

.section_welcome {
   width: 100%;

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: #131313;
}

#container_welcome {
   position: absolute;
   z-index: 2;
   /* background-color: #c4beb5; */

   height: 305px;

   display: flex;
   flex-direction: column;
   align-items: start;
}

.welcome_img {
   width: 1440px;
   height: 707px;

}

/* ------ */
.welcome_h1 {
   font-size: 40px;
   font-weight: 300;
   line-height: 53.13px;
   font-family: 'Yeseva One';
   text-transform: uppercase;
   color: #ffffff;

   width: 580px;
   height: 105px;

   margin-left: 42px;

}

.welcome__h1_span {
   color: #E3B873;
}

/* -------- */

.welcome_p {
   font-size: 21px;
   font-weight: 400;
   line-height: 33px;
   font-family: 'Nunito Sans';
   /* text-transform: uppercase; */
   color: #ffffff;

   width: 460px;
   height: 89px;

   margin-left: 42px;
}

.welcome_btn {
   width: 438px;
   height: 51px;

   margin-left: 42px;

   display: flex;
   justify-content: space-between;

}

.welcome__btn_one {
   width: 207px;
   height: 51px;

   /* margin-right: 20px; */

   background-color: #E3B873;
   border-radius: 2px;
   border: none;
   color: #ffffff;

   font-size: 11px;
   line-height: 15px;
   font-style: italic;
   text-transform: uppercase;
   font-family: 'Nunito Sans';

}
.welcome__btn_one:hover {
   background-color: rgba(227, 184, 115, 0.2);
}

.welcome__btn_two {
   width: 207px;
   height: 51px;

   background-color: rgba(255, 255, 255, 0);
   border-radius: 2px;
   border: solid #ffffff 1px;
   color: #ffffff;


   font-size: 11px;
   line-height: 15px;
   font-style: italic;
   text-transform: uppercase;
   font-family: 'Nunito Sans';
}
.welcome__btn_two:hover {
   background-color: rgba(227, 184, 115, 0.2);
}



/* ----------------/W E L C O M E-------------- */

/* ----------------CompletedProjects-------------- */

.section_CompletedProjects {
   width: 100%;
   height: 1074px;

   background-color: #131313;

   display: flex;
   justify-content: center;
   /* align-items: center; */
}
#container_CompletedProjects {
   width: 100%;
   max-width: 1171px;
   height: 552.28px;

   margin-top: 107px;

   /* background-color: #E3B873; */

   display: flex;
   justify-content: space-between;
}
/* --------- */
.block_CompletedProjects {
   width: 100%;
   max-width: 442px;
   height: 482.92px;

   margin-top: 69.36px;

   /* background-color: #e3b87317; */
}
.h2_CompletedProjects {
   width: 100%;
   max-width: 253px;
   height: 66px;

   font-weight: 400;
   font-size: 27px;
   line-height: 35px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   color: #E3B873;
}

.p_CompletedProjects {
   width: 100%;
   max-width: 442px;
   height: 86px;

   font-size: 14px;
   line-height: 23px;
   /* text-transform: uppercase; */
   font-family: 'Nunito Sans';

   margin-top: 34px;

   color: #ffffff;
}

.info_CompletedProjects {
   width: 100%;
   max-width: 403px;
   height: 161px;

   display: grid;
   grid-template-columns: 161px 213px ;
   grid-template-rows: 73px 55px;

   row-gap: 34px;
   column-gap: 29px;

   margin-top: 42px;
}

.text_CompletedProjects {
   font-size: 13px;
   line-height: 21.28px;
   /* text-transform: uppercase; */
   font-family: 'Nunito Sans';

   color: #ffffff;
}

.h3_CompletedProjects {
   font-weight: 400;
   font-size: 18px;
   line-height: 24.95px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   margin-bottom: 9px;

   color: #E3B873;
}
.img__CompletedProjects_slide {
   margin-top: 79.64px;
}
/* ------ */

.image_CompletedProjects {
   width: 100%;
   max-width: 679px;
   height: 552.28px;

   /* background-color: #e3b87317; */
}
.ul_CompletedProjects {
   width: 100%;
   max-width: 623px;
   height: 24px;

   display: flex;
   justify-content: space-between;

   padding: 0;
}
.li_CompletedProjects {
   list-style: none;
}

#li_border {
   border-bottom: solid 1px #E3B873;
}
.a_CompletedProjects {
   font-weight: 400;
   font-size: 14px;
   line-height: 19.4px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   color: #E3B873;

   text-decoration: none;
}
.a_CompletedProjects:hover {
   color: #ffffff;
}

.img__CompletedProjects_hall {
   width: 100%;
   max-width: 679px;
   height: 100%;
   max-height: 482px;

   margin-top: 45px;
}