body {
   margin: 0;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

main {
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

ul {
   margin: 0;
}

/* ---------------------HEADER----------------- */
header {
   width: 100%;
   height: 83px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #131313;
}

@media (min-width: 320px) and (max-width: 430px) {
   header {
      height: 57px;
   }
}

/* ------------------DIV-container------------- */

.container {
   width: 100%;
   max-width: 1256px;
}

#container_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media (min-width: 320px) and (max-width: 430px) {
   #container_header {
      width: 100%;
      max-width: 375px;
      padding: 0 18px 0 18px;
   }
}

/* -----------------/DIV-container------------- */
/* header_span */
.header_span {
   width: 179.74px;
   height: 10px;

   font-family: 'Nunito Sans';
   text-transform: uppercase;
   font-size: 11px;
   line-height: 15px;

   color: #E3B873;
}

/* /header_span */

/* nav  */
nav {
   width: 581.43px;
   height: 10px;
}

@media (min-width: 320px) and (max-width: 430px) {
   .header_nav {
      display: none;

   }
}

.nav_ul {
   width: 581.43px;
   height: 10px;

   display: flex;
   justify-content: space-between;
   align-items: center;

}

.nav_li {
   list-style: none;
}

.nav_a {
   text-decoration: none;

   font-family: 'Nunito Sans';
   text-transform: uppercase;
   font-size: 11px;
   line-height: 15px;

   color: #ffffff;
}

.nav_a:hover {
   color: #E3B873;
}

/* /nav  */

/* span_number */
.span_number {
   width: 126px;
   height: 16px;

}

.a_number {
   font-family: 'Nunito Sans';
   text-transform: uppercase;
   font-size: 11px;
   line-height: 15px;

   color: #E3B873;
}

.a_number:hover {
   color: #ffffff;
}

/* /span_number */

/* header_button */
.header_button {
   width: 161px;
   height: 37px;

   border-radius: 2px;
   border: none;

   background-color: #E3B873;
   color: #ffffff;

   font-family: 'Nunito Sans';
   text-transform: uppercase;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   font-style: italic;
}

@media (min-width: 320px) and (max-width: 430px) {
   .header_button {
      display: none;
   }
}

.header_button:hover {
   background-color: rgba(227, 184, 115, 0.2);

}

/* /header_button */

/* ---------------------/HEADER---------------- */
/* ---------------------MAIN---------------- */

main {
   width: 100%;
   height: 100%;
   /* display: flex;
   justify-content: center;
   align-items: center; */

}

/* ------------------------------------------ */


/* -----------------W E L C O M E-------------- */

.section_welcome {
   width: 100%;

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: #131313;
}

#container_welcome {
   position: absolute;
   z-index: 2;
   /* background-color: #c4beb5; */

   height: 305px;

   display: flex;
   flex-direction: column;
   align-items: start;
}

@media (min-width: 320px) and (max-width: 430px) {
   #container_welcome {
      height: 476px;
      align-items: center;
   }
}

.welcome_img {
   width: 100%;
   /* width: 1440px; */
   height: 707px;

}

@media (min-width: 320px) and (max-width: 430px) {
   .welcome_img {
      height: 476px;
   }
}

/* ------ */
.welcome_h1 {
   font-size: 40px;
   font-weight: 300;
   line-height: 53.13px;
   font-family: 'Yeseva One';
   text-transform: uppercase;
   color: #ffffff;

   width: 580px;
   height: 105px;

   margin-left: 42px;

}

@media (min-width: 320px) and (max-width: 430px) {
   .welcome_h1 {
      font-size: 23px;
      font-weight: 300;
      line-height: 30.55px;

      width: 339px;
      height: 60px;

      margin: 85px 0 0 0;
   }
}

.welcome__h1_span {
   color: #E3B873;
}

/* -------- */

.welcome_p {
   font-size: 21px;
   font-weight: 400;
   line-height: 33px;
   font-family: 'Nunito Sans';
   color: #ffffff;

   width: 460px;
   height: 89px;

   margin-top: 19px;
   margin-left: 42px;
}

@media (min-width: 320px) and (max-width: 430px) {
   .welcome_p {
      font-size: 14px;
      line-height: 19.02px;

      width: 339px;
      height: 94px;

      margin: 16px 0 0 0;
   }
}

.welcome_btn {
   width: 438px;
   height: 51px;

   margin-top: 41px;
   margin-left: 42px;

   display: flex;
   justify-content: space-between;

}

@media (min-width: 320px) and (max-width: 430px) {
   .welcome_btn {
      width: 338.61px;
      height: 128px;
      margin: 0;

      flex-direction: column;
      align-items: center;
   }
}

.welcome__btn_one {
   width: 207px;
   height: 51px;

   background-color: #E3B873;
   border-radius: 2px;
   border: none;
   color: #ffffff;

   font-size: 11px;
   line-height: 15px;
   font-style: italic;
   text-transform: uppercase;
   font-family: 'Nunito Sans';

}

@media (min-width: 320px) and (max-width: 430px) {
   .welcome__btn_one {
      width: 338.61px;
      height: 51px;
   }
}

.welcome__btn_one:hover {
   background-color: rgba(227, 184, 115, 0.2);
}

.welcome__btn_two {
   width: 207px;
   height: 51px;

   background-color: rgba(255, 255, 255, 0);
   border-radius: 2px;
   border: solid #ffffff 1px;
   color: #ffffff;


   font-size: 11px;
   line-height: 15px;
   font-style: italic;
   text-transform: uppercase;
   font-family: 'Nunito Sans';
}

@media (min-width: 320px) and (max-width: 430px) {
   .welcome__btn_two {
      width: 338.61px;
      height: 51px;
   }
}

.welcome__btn_two:hover {
   background-color: rgba(227, 184, 115, 0.2);
}



/* ----------------/W E L C O M E-------------- */

/* ----------------CompletedProjects-------------- */

.section_CompletedProjects {
   width: 100%;
   /* height: 1074px; */
   height: 740px;

   background-color: #131313;

   display: flex;
   justify-content: center;
   /* align-items: center; */
}

@media (min-width: 320px) and (max-width: 430px) {
   .section_CompletedProjects {
      height: 669px;
   }
}

#container_CompletedProjects {
   width: 100%;
   max-width: 1171px;
   height: 552.28px;

   margin-top: 107px;

   /* background-color: #E3B873; */

   display: flex;
   justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 430px) {
   #container_CompletedProjects {
      max-width: 375px;
      height: 633px;

      margin-top: 36px;

      justify-content: center;
   }
}

/* --------- */
.block_CompletedProjects {
   width: 100%;
   max-width: 442px;
   height: 482.92px;

   margin-top: 69.36px;

   /* background-color: #e3b87317; */
}

@media (min-width: 320px) and (max-width: 430px) {
   .block_CompletedProjects {
      width: 100%;
      max-width: 340px;
      height: 633px;

      margin-top: 0px;

      Display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.h2_CompletedProjects {
   width: 100%;
   max-width: 253px;
   height: 66px;

   font-weight: 400;
   font-size: 27px;
   line-height: 35px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   color: #E3B873;
}

@media (min-width: 320px) and (max-width: 430px) {
   .h2_CompletedProjects {
      font-size: 22px;
      line-height: 30.49px;

      text-align: center;
   }
}

.p_CompletedProjects {
   width: 100%;
   max-width: 442px;
   height: 86px;

   font-size: 14px;
   line-height: 23px;
   /* text-transform: uppercase; */
   font-family: 'Nunito Sans';

   margin-top: 34px;

   color: #ffffff;
}

@media (min-width: 320px) and (max-width: 430px) {
   .p_CompletedProjects {
      max-width: 311px;

      font-size: 11px;
      line-height: 17.43px;

      margin-top: 22px;
      text-align: center;
   }
}

@media (min-width: 320px) and (max-width: 430px) {
   .block_additional_little {
      width: 100%;
      max-width: 340px;
      height: 241.55px;

      background: url('/images/main/section_CompletedProjects/img__additional_little.png') 0 0 / cover no-repeat;

      margin-top: 36px;

      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

@media (min-width: 320px) and (max-width: 430px) {
   .button_left {
      width: 100%;
      max-width: 36px;
      height: 36px;

      margin-left: 14px;
      background: url('/images/main/section_CompletedProjects/img__button_left.png') 0 0 / cover no-repeat;
      border: none;

   }
}

@media (min-width: 320px) and (max-width: 430px) {
   .button_right {
      width: 100%;
      max-width: 36px;
      height: 36px;

      margin-right: 14px;
      background: url('/images/main/section_CompletedProjects/img__button_right.png') 0 0 / cover no-repeat;
      border: none;

   }
}

@media (max-width: 319px) and (min-width: 431px) {
   .block_additional_little {
      display: none;
   }
}

.info_CompletedProjects {
   width: 100%;
   max-width: 403px;
   height: 161px;

   display: grid;
   grid-template-columns: 161px 213px;
   grid-template-rows: 73px 55px;

   row-gap: 34px;
   column-gap: 29px;

   margin-top: 42px;
}

@media (min-width: 320px) and (max-width: 430px) {
   .info_CompletedProjects {
      width: 100%;
      max-width: 341px;
      height: 145px;

      display: grid;
      grid-template-columns: 129px 181px;
      grid-template-rows: 68px 50px;

      row-gap: 27px;
      column-gap: 31px;

      margin-top: 36.45px;
   }
}

.text_CompletedProjects {
   font-size: 13px;
   line-height: 21.28px;
   /* text-transform: uppercase; */
   font-family: 'Nunito Sans';

   color: #ffffff;
}

@media (min-width: 320px) and (max-width: 430px) {
   .text_CompletedProjects {
      font-size: 11px;
      line-height: 14.94px;
   }
}

.h3_CompletedProjects {
   font-weight: 400;
   font-size: 18px;
   line-height: 24.95px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   margin-bottom: 9px;

   color: #E3B873;
}

@media (min-width: 320px) and (max-width: 430px) {
   .h3_CompletedProjects {
      font-size: 14px;
      line-height: 19.4px;

      margin-bottom: 13px;

      color: #E3B873;
   }
}

.img__CompletedProjects_slide {
   margin-top: 79.64px;
}

@media (min-width: 320px) and (max-width: 430px) {
   .img__CompletedProjects_slide {
      display: none;
   }
}

/* ------ */

.image_CompletedProjects {
   width: 100%;
   max-width: 679px;
   height: 552.28px;

   /* background-color: #e3b87317; */
}

@media (min-width: 320px) and (max-width: 430px) {
   .image_CompletedProjects {
      display: none;
   }
}

.ul_CompletedProjects {
   width: 100%;
   max-width: 623px;
   height: 24px;

   display: flex;
   justify-content: space-between;

   padding: 0;
}

.li_CompletedProjects {
   list-style: none;
}

.a_CompletedProjects {
   font-weight: 400;
   font-size: 14px;
   line-height: 19.4px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   color: rgba(255, 255, 255, 0.3);

   text-decoration: none;
}

.a_CompletedProjects:hover {
   color: rgba(227, 184, 115, 1);
   border-bottom: 1px solid rgba(227, 184, 115, 1);
}

.img__CompletedProjects_hall {
   width: 100%;
   max-width: 679px;
   height: 100%;
   max-height: 482px;

   margin-top: 45px;
}

/* ----------------/CompletedProjects-------------- */

/* ----------------OnlineControl-------------- */

.section_OnlineControl {
   width: 100%;

   display: flex;
   justify-content: center;

}

.background_black {
   width: 100%;
   height: 325px;
   background-color: #131313;
   position: absolute;
   z-index: -1;
}

@media (min-width: 320px) and (max-width: 430px) {
   .background_black {
      height: 878.51px;
   }
}

#container_OnlineControl {
   display: flex;
   flex-direction: column;
   align-items: center;

}

/* ---------- */
.block_OnlineControl {
   width: 100%;
   max-width: 196px;
   height: 66.79px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

@media (min-width: 320px) and (max-width: 430px) {
   .block_OnlineControl {
      width: 100%;
      max-width: 224px;
      height: 73.79px;

      margin-top: 58px;
   }
}

.h3_OnlineControl {
   font-weight: 400;
   font-size: 20px;
   line-height: 27.72px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   color: #ffffff;
}

@media (min-width: 320px) and (max-width: 430px) {
   .h3_OnlineControl {
      font-size: 22px;
      line-height: 30.49px;
   }
}

.image__OnlineControl_one {
   display: flex;
   align-items: center;
}

.img__OnlaneControl_one {
   margin: 0 9.45px 0 9.45px;
}

.hr_OnlineControl {
   width: 32px;
   height: 1.54px;
   border-color: #E3B873;
}

/* ------- */

.image__OnlineControl_two {
   width: 100%;
   max-width: 817px;
   height: 434px;
   margin-top: 31.21px;

   display: flex;
   justify-content: center;
   align-items: center;
}

@media (min-width: 320px) and (max-width: 430px) {
   .image__OnlineControl_two {
      width: 100%;
      max-width: 340px;
      height: 207px;
      margin-top: 31.21px;

   }
}

.img__OnlaneControl_three {
   position: absolute;
   z-index: 2;
}

@media (min-width: 320px) and (max-width: 430px) {
   .img__OnlaneControl_three {

      width: 55px;
      height: 55px;


   }
}

.img__OnlaneControl_two {

   width: 817px;
   height: 434px;


}

@media (min-width: 320px) and (max-width: 430px) {
   .img__OnlaneControl_two {

      width: 340px;
      height: 207px;


   }
}

/* ----- */

.line_OnlineControl {
   width: 100%;
   max-width: 55px;
   height: 1.54px;
   border-color: #E3B873;
   margin: 62.5px 0 0 0;
}

@media (min-width: 320px) and (max-width: 430px) {
   .line_OnlineControl {
      margin: 28px 0 0 0;
   }
}

.p_OnlineControl {
   width: 100%;
   max-width: 681px;
   height: 130.91px;

   font-size: 18px;
   line-height: 36.83px;
   /* text-transform: uppercase; */
   font-family: 'Nunito Sans';

   margin-top: 34.46px;

   text-align: center;
   padding: 0 15px;
   color: #363636;
}

@media (min-width: 320px) and (max-width: 430px) {
   .p_OnlineControl {
      max-width: 340px;
      height: 106.95px;

      font-size: 11px;
      line-height: 18.68px;

      margin-top: 21.46px;
      padding: 0 5px;
      color: #FFFFFF;
      ;
   }
}

/* ------ */
.form__OnlineControl_one {
   width: 100%;
   max-width: 769px;
   height: 51px;

   margin-top: 91.5px;

   display: flex;
   justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 430px) {
   .form__OnlineControl_one {
      width: 100%;
      max-width: 340px;
      height: 311px;

      margin-top: 61.05px;

      display: flex;
      flex-direction: column;


      justify-content: flex-start;
   }
}

.input_OnlineControl {
   height: 17px;
   background-color: #13131300;
   border: none;

   margin-bottom: 6px;

   color: #363636;
   font-weight: 400;
   font-size: 14px;
   line-height: 22.92px;
   font-family: 'Nunito Sans';
}

@media (min-width: 320px) and (max-width: 430px) {
   .input_OnlineControl {
      color: #FFFFFF;
   }
}

.block__label_name-OnlineControl {
   width: 100%;
   max-width: 231px;
   height: 45px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-bottom: 1px solid #3636364D;

}

@media (min-width: 320px) and (max-width: 430px) {
   .block__label_name-OnlineControl {
      width: 100%;
      max-width: 340px;
      height: 45px;
      border-bottom: 1px solid #FFFFFF;
   }
}

.block__label_phone-OnlineControl {
   width: 100%;
   max-width: 231px;
   height: 45px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-bottom: 1px solid #3636364D;
}

@media (min-width: 320px) and (max-width: 430px) {
   .block__label_phone-OnlineControl {
      width: 100%;
      max-width: 340px;
      height: 45px;

      margin-top: 63px;
      border-bottom: 1px solid #FFFFFF;
   }
}

.label_OnlineControl {
   height: 12px;
   color: #36363680;
   font-size: 13px;
   line-height: 21.28px;
   font-family: 'Nunito Sans';
}

@media (min-width: 320px) and (max-width: 430px) {
   .label_OnlineControl {
      color: #FFFFFF80;
   }
}

/* ----- */
.p__OnlineControl_checkbox-two {
   width: 100%;
   max-width: 408px;
   height: 18px;
   margin-top: 33.24px;

   color: #181818;
   font-size: 14px;
   line-height: 22.92px;
   font-family: 'Nunito Sans';
   text-align: center;
}

@media (min-width: 320px) and (max-width: 430px) {
   .p__OnlineControl_checkbox-one {
      margin-top: 26.54px;
      color: #FFFFFF;
   }
}

@media (min-width: 0px) and (max-width: 319px),
(min-width: 431px) and (max-width: 9999999px) {
   .p__OnlineControl_checkbox-one {
      display: none;
   }
}

@media (min-width: 320px) and (max-width: 430px) {
   .p__OnlineControl_checkbox-two {
      display: none;
   }
}

.checkbox_OnlineControl {
   margin: 0;
   width: 18px;
   height: 18px;

   accent-color: rgba(227, 184, 115, 1);
   border-radius: 1px;

   margin-right: 8.62px;

}

.button_OnlineControl {
   width: 200px;
   height: 51px;

   /* margin-right: 20px; */

   background-color: #E3B873;
   border-radius: 2px;
   border: none;
   color: #ffffff;

   font-weight: 400;
   font-size: 13px;
   line-height: 26.6px;
   font-style: italic;
   text-transform: uppercase;
   font-family: 'Nunito Sans';
}

@media (min-width: 320px) and (max-width: 430px) {
   .button_OnlineControl {
      width: 340px;
      height: 51px;

      margin-top: 62.43px;
   }
}

.button_OnlineControl:hover {
   background-color: rgba(227, 184, 115, 0.788);
}

/* ------ */
.label__OnlineControl_tree {
   width: 100%;

   /* max-width: 259px; */
   height: 16.24;

   font-size: 14px;
   line-height: 22.92px;
   /* text-transform: uppercase; */
   font-family: 'Nunito Sans';

   color: #181818;
}

/* ------ */
/* ----------------Finishing-------------- */
.section_TypesOfRepair {
   width: 100%;


   display: flex;
   justify-content: center;
}

#container_TypesOfRepair {
   display: flex;
   flex-direction: column;

   align-items: center;
}

/* ---------- */
.block_TypesOfRepair {
   width: 100%;
   max-width: 196px;
   height: 66.79px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   margin-top: 147.85px;
}

@media (min-width: 320px) and (max-width: 430px) {
   .block_TypesOfRepair {
      max-width: 257px;
      height: 71px;

      margin-top: 58px;
   }
}

.h3_TypesOfRepair {
   font-weight: 400;
   font-size: 20px;
   line-height: 27.72px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   color: #181818;
}

@media (min-width: 320px) and (max-width: 430px) {
   .h3_TypesOfRepair {
      font-size: 22px;
      line-height: 30.49px;
   }
}

.image__TypesOfRepair_one {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 114px;
}


.img__TypesOfRepair_one {
   margin: 0 13px 0 9px;
   width: 100%;
   max-width: 27.99px;
   height: 28px;
}

.hr_TypesOfRepair {
   width: 100%;
   max-width: 32px;
   height: 1.54px;
   border-color: #E3B873;
}

/* ------ */
.block_finishing {
   width: 100%;
   max-width: 1236px;
   height: 608px;
   margin-top: 31px;

   display: flex;
   justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 430px) {
   .block_finishing {
      width: 100%;
      max-width: 340px;
      height: 1570px;
      margin-top: 40px;

      display: flex;
      flex-direction: column;
   }
}

/* ------    --------- */

/* -------  block__finishing_one  ----------*/

.block__finishing_one {
   width: 100%;
   max-width: 392px;
   height: 608px;
   position: relative;
}

@media (min-width: 320px) and (max-width: 430px) {
   .block__finishing_one {
      width: 100%;
      max-width: 340px;
      height: 484px;
      position: relative;
   }
}

.price__TypesOfRepair_one {
   width: 100%;
   max-width: 228px;
   height: 54px;
   padding: 17px 21.44px;
   margin-top: -26px;
   margin-left: 32px;

   background-color: #E3B873;
   color: #ffffff;
   font-size: 18px;
   line-height: 24.95px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   position: relative;
   z-index: 3;
}

@media (min-width: 320px) and (max-width: 430px) {
   .price__TypesOfRepair_one {
      width: 100%;
      max-width: 190.43px;
      height: 40px;
      padding: 11.36px 19.21px;
      margin-top: -21px;
      margin-left: 0px;

      font-size: 15px;
      line-height: 20.79px;
   }
}

.image__TypesOfRepair_two,
.img__TypesOfRepair_two {
   width: 100%;
   max-width: 392px;
   height: 421px;
   position: relative;
   z-index: 1;
}

@media (min-width: 320px) and (max-width: 430px) {

   .image__TypesOfRepair_two,
   .img__TypesOfRepair_two {
      width: 100%;
      max-width: 340px;
      height: 365.15px;

   }
}

/* ---- block__finishing_two ----- */
.block__finishing_two {
   width: 100%;
   max-width: 392px;
   height: 608px;


}

@media (min-width: 320px) and (max-width: 430px) {
   .block__finishing_two {
      width: 100%;
      max-width: 340px;
      height: 484px;
   }
}

.image__TypesOfRepair_tree,
.img__TypesOfRepair_tree {
   width: 100%;
   max-width: 392px;
   height: 421px;
   position: relative;
   z-index: 1;
}

@media (min-width: 320px) and (max-width: 430px) {

   .image__TypesOfRepair_tree,
   .img__TypesOfRepair_tree {
      width: 100%;
      max-width: 340px;
      height: 365.15px;

   }
}

.price__TypesOfRepair_two {
   width: 100%;
   max-width: 228px;
   height: 54px;
   padding: 17px 18.46px;
   margin-top: -26px;
   margin-left: 32px;

   background-color: #E3B873;
   color: #ffffff;
   font-size: 18px;
   line-height: 24.95px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   position: relative;
   z-index: 3;
}

@media (min-width: 320px) and (max-width: 430px) {
   .price__TypesOfRepair_two {
      width: 100%;
      max-width: 190.43px;
      height: 40px;
      padding: 11.79px 16.21px;
      margin-top: -21px;
      margin-left: 0px;

      font-size: 15px;
      line-height: 20.79px;
   }
}



/* -------- */
.block__TypesOfRepair_redecorating {
   width: 100%;
   max-width: 330px;
   height: 286px;
   padding: 25px 68px 0 34px;

   margin-top: -127px;
   margin-left: 31px;

   position: relative;
   z-index: 2;

   background-color: #ffffff;
   color: #363636;
   font-size: 18px;
   line-height: 24.95px;
   font-family: 'Yeseva One';

   box-shadow: 0 10px 10px 0 #00000008;

}

@media (min-width: 320px) and (max-width: 430px) {
   .block__TypesOfRepair_redecorating {
      width: 100%;
      max-width: 270px;
      height: 241px;
      padding: 21px 41px 0 31px;

      margin-top: -142px;
      margin-left: 0px;

      font-size: 15px;
      line-height: 20.79px;
      font-family: 'Yeseva One';
   }
}

.ul_TypesOfRepair {
   width: 100%;
   padding-left: 0px;
   margin-top: 13px;
   margin-left: 15px;

   font-size: 13px;
   line-height: 26.6px;
   font-family: 'Nunito Sans';
   color: #959595;
}

@media (min-width: 320px) and (max-width: 430px) {
   .ul_TypesOfRepair {
      width: 100%;
      padding-left: 0px;
      margin-top: 13px;
      margin-left: 15px;

      font-size: 13px;
      line-height: 22.07px;
   }
}



/* --- block__finishing_tree---- */
.block__finishing_tree {
   width: 100%;
   max-width: 392px;
   height: 608px;
}

@media (min-width: 320px) and (max-width: 430px) {
   .block__finishing_tree {
      width: 100%;
      max-width: 340px;
      height: 484px;
   }
}

.image__TypesOfRepair_four,
.img__TypesOfRepair_four {
   width: 100%;
   max-width: 392px;
   height: 421px;
}

@media (min-width: 320px) and (max-width: 430px) {

   .image__TypesOfRepair_four,
   .img__TypesOfRepair_four {
      width: 100%;
      max-width: 340px;
      height: 365.15px;

   }
}

.price__TypesOfRepair_tree {
   width: 100%;
   max-width: 228px;
   height: 54px;
   padding: 17px 16.57px;
   margin-top: -26px;
   margin-left: 32px;

   background-color: #E3B873;
   color: #ffffff;
   font-size: 18px;
   line-height: 24.95px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   position: relative;
   z-index: 3;
}

@media (min-width: 320px) and (max-width: 430px) {
   .price__TypesOfRepair_tree {
      width: 100%;
      max-width: 190.43px;
      height: 40px;
      padding: 11.16px 14.71px;
      margin-top: -21px;
      margin-left: 0px;

      font-size: 15px;
      line-height: 20.79px;
   }
}

/* ------- */
/* ------ */

/* ----------------/Finishing-------------- */
/* ---------------SECTION_FANTASIES-------- */
@media (min-width: 0px) and (max-width: 319px),
(min-width: 431px) and (max-width: 9999999px) {
   .section_fantasies {
      display: none;
   }
}
@media (min-width: 320px) and (max-width: 430px) {
   .section_fantasies {
      width: 100%;
      height: 1461px;

      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #container_fantasies {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 55px;
   }

   .span_fantasies {
      width: 100%;
      max-width: 340px;
      height: 66px;

      text-align: center;

      color: rgba(227, 184, 115, 1);
      font-size: 22px;
      line-height: 30.49px;
      text-transform: uppercase;
      font-family: 'Yeseva One';
   }

   .image__fantasies_one {
      width: 100%;
      max-width: 340px;
      height: 242px;

      margin-top: 24px;

      background: url('/images/main/section_fantasies/img__fantasies_one.png') 0 0 / cover no-repeat;

      margin-top: 24px;

      display: flex;
      justify-content: space-between;
      align-items: center;
   }


   
      .btn__fantasies_left {
         width: 100%;
         max-width: 36px;
         height: 36px;

         margin-left: 14px;
         background: url('/images/main/section_fantasies/img__button_left.png') 0 0 / cover no-repeat;
         border: none;

      }
   

  
      .btn__fantasies_right {
         width: 100%;
         max-width: 36px;
         height: 36px;

         margin-right: 14px;
         background: url('/images/main/section_fantasies/img__button_right.png') 0 0 / cover no-repeat;
         border: none;

      }

      .form_fantasies {
         width: 100%;
         max-width: 340px;
         height: 497px;
      
         display: flex;
         flex-direction: column;
         align-items: center;
      
      
         margin-top: 52px;
         background-color: rgba(24, 24, 24, 1);
      }
      
      .legend_fantasies {
         width: 100%;
         max-width: 257px;
         height: 26px;
      
         
         text-align: center;
      
         color: rgba(255, 255, 255, 1);
         font-size: 20px;
         line-height: 27.72px;
         text-transform: uppercase;
         font-family: 'Yeseva One';
      }
      
      .block__label_fantasies {
         width: 100%;
         max-width: 340px;
         height: 261.04px;
      
         margin-top: 52px;
      
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
      
      .block__label_fantasies-one {
         width: 100%;
         max-width: 340px;
         height: 153.04px;
      
         display: flex;
         flex-direction: column;

         justify-content: space-between;
      }
      
      .Fantasies__label_name {
         width: 100%;
         max-width: 340px;
         height: 45px;
      
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      
         border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
      
      .Fantasies__label_phone {
         width: 100%;
         max-width: 340px;
         height: 45px;
      
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      
         border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
      
      .block__label_fantasies-two {
         width: 100%;
         max-width: 340px;
         height: 45px;
      }
      
      .Fantasies__label_question {
         width: 100%;
         max-width: 340px;
         height: 45px;
      
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      
         border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
      
      .input_Fantasies {
         height: 25px;
         background-color: #13131300;
         border: none;
      
         color: #ffffff;
         font-weight: 400;
         font-size: 14px;
         line-height: 22.92px;
         font-family: 'Nunito Sans';
      }
      
      .p__Fantasies_checkbox {
         width: 100%;
         max-width: 340px;
         height: 18px;
         margin-top: 21.63px;
      
         color: #ffffff;
         font-size: 14px;
         line-height: 22.92px;
         font-family: 'Nunito Sans';
         text-justify: start;
         
      }
      
      .checkbox_Fantasies {
         margin: 0;
         width: 18px;
         height: 18px;
      
         margin-right: 8.62px;
         accent-color: rgba(227, 184, 115, 1);
         border-radius: 1px;
      
      }
      
      .Fantasies_btn {
         width: 340px;
         height: 51px;
      
         margin-top: 67.33px;
      
         border-radius: 0;
         border: none;
      
         background-color: #E3B873;
         color: #ffffff;
         font-size: 13px;
         line-height: 26.6px;
         text-transform: uppercase;
         font-family: 'Nunito Sans';
      }

      .image__fantasies_map {
         width: 100%;
         max-width: 340px;
         height: 255px;

         margin-top: 46px;
         background: url('/images/main/section_fantasies/img__fantasies_map.png') 0 0 / cover no-repeat;
      }
      .block__Fantasies-adress {
         width: 100%;
         max-width: 340px;
         height: 133.21px;
         margin-top: 41.79px;
      
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      
      .p__Fantasies_adress {
         width: 100%;
         max-width: 340px;
         height: 70.56px;
         text-align: center;
      
         color: rgba(227, 184, 115, 1);
         font-size: 18px;
         line-height: 24.95px;
         text-transform: uppercase;
         font-family: 'Yeseva One';
      }
      
      .block__Fantasies_link {
         width: 100%;
         max-width: 98.89px;
         height: 39px;
      
         margin-top: 23.65px;
         display: flex;
         justify-content: space-between;
      }
      
      .a_Fantasies {
         width: 39px;
         height: 39px;
      }

      .img__Fantasies_a {
         width: 39px;
         height: 39px;
      }

      .block_Fantasies-fone {
         width: 100%;
         height: 1195px;
         margin-top: 266px;

         background-color: rgba(24, 24, 24, 1);

         position: absolute;
         z-index: -1;
      }
   
}

/* --------------/SECTION_FANTASIES-------- */

/* -------------SECTION_MEASURING-------- */
.section_measuring {
   width: 100%;
   height: 725.44px;

   margin-top: 124px;

   display: flex;
   justify-content: center;

}

@media (min-width: 320px) and (max-width: 430px) {
   .section_measuring {
      display: none;

   }
}

#container_measuring {
   height: 725.44px;

   display: flex;
   flex-direction: column;
   align-items: flex-end;
   align-content: flex-start;
}

.form_request {
   width: 100%;
   max-width: 506px;
   height: 509px;
   margin-top: 106px;
   background-color: #131313;

   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 28px;
}

.legend_request {
   width: 100%;
   max-width: 297px;
   height: 47;

   text-align: center;
   color: #ffffff;
   font-size: 18px;
   line-height: 23.5px;
   font-family: 'Nunito Sans';

   margin-bottom: 39px;

}

label {
   height: 16px;
   color: rgba(255, 255, 255, 0.5);
   font-size: 13px;
   line-height: 21.28px;
   font-family: 'Nunito Sans';
}

.input_reqoest {
   height: 23px;
   background-color: #13131300;
   border: none;

   color: #ffffff;
   font-weight: 400;
   font-size: 14px;
   line-height: 22.92px;
   font-family: 'Nunito Sans';
}

.block__label_name {
   width: 100%;
   max-width: 408px;
   height: 50px;

   margin-bottom: 48px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-bottom: 1px solid rgba(255, 255, 255, 0.15);

}

.block__label_phone {
   width: 100%;
   max-width: 408px;
   height: 50px;

   margin-bottom: 48px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-bottom: 1px solid rgba(255, 255, 255, 0.15);

   margin-bottom: 48px;
}

.block__label_email {
   width: 100%;
   max-width: 408px;
   height: 50px;

   margin-bottom: 16px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.p__reqoest_checkbox {
   width: 100%;
   max-width: 408px;
   height: 18px;
   margin-bottom: 39px;

   color: #ffffff;
   font-size: 14px;
   line-height: 22.92px;
   font-family: 'Nunito Sans';
   text-justify: center;
}

.checkbox_reqoest {
   margin: 0;
   width: 18px;
   height: 18px;

   accent-color: rgba(227, 184, 115, 1);
   border-radius: 1px;

   margin-right: 8.62px;

}

.block__reqoest_btn {
   width: 100%;
   max-width: 408px;
   height: 51px;

   display: flex;
   justify-content: flex-end;
}

.reqoest_btn {
   width: 213px;
   height: 51px;

   border-radius: 0;
   border: none;

   background-color: #E3B873;
   color: #ffffff;
   font-size: 13px;
   line-height: 21.28px;
   text-transform: uppercase;
   font-family: 'Nunito Sans';
}

.reqoest_btn:hover {
   background-color: rgba(227, 184, 115, 0.15);
}

/* --blockImg__measuring_two--- */
.blockImg__measuring_two {
   width: 100%;
   max-width: 506px;
   height: 72px;

   margin-top: 38.44px;
}

.img__measuring_two {
   margin-left: 32.5px;
   height: 72px;
}

/* --/blockImg__measuring_two--- */
/* --blockImg__measuring_one--- */

.blockImg__measuring_one {
   width: 100%;
   position: absolute;
   z-index: -1;
}

.img__measuring_one {
   width: 100%;
   max-width: 720px;
   height: 645px;


}

/* --/blockImg__measuring_one--- */
/* -------------/SECTION_MEASURING-------- */

/* -------------SECTION_YourFantasies-------- */

.section_YourFantasies {
   width: 100%;
   height: 1017.86px;

   margin-top: 129.56px;

   display: flex;
   justify-content: center;
}

@media (min-width: 320px) and (max-width: 430px) {
   .section_YourFantasies {
      display: none;

   }
}

/* -------- */
.img__section_YourFantasies {
   width: 100%;
   height: 865px;
   margin-top: 112.53px;

   position: absolute;
   z-index: -1;
}

.image__YourFantasies_one {
   width: 100%;
   height: 865px;
}

/* ------- */
/* ------- */

#container_YourFantasies {
   height: 1017.86px;

   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

/* ----- */
.block__info_YourFantasies {
   width: 100%;
   max-width: 411px;
   height: 629px;
   margin-top: 250px;
}

.span_YourFantasies {
   width: 100%;
   max-width: 411px;
   height: 66px;

   color: rgba(227, 184, 115, 1);
   font-size: 27px;
   line-height: 35px;
   text-transform: uppercase;
   font-family: 'Yeseva One';
   margin-top: 0;
}

.ul_YourFantasies {
   width: 100%;
   max-width: 299px;
   height: 512px;

   margin-top: 47px;
   padding: 0;
   list-style-type: none;

   display: grid;
   grid-template-columns: 248px;
   grid-template-rows: repeat(11, 23px);
   row-gap: 26px;
   text-justify: center;

}

.a_YourFantasies {
   text-decoration: none;
   color: #ffffff;
   font-size: 20px;
   line-height: 30px;
   font-family: 'Nunito Sans';
}

.a_YourFantasies:hover {
   color: rgba(227, 184, 115, 1);
   border-bottom: 0.66px solid rgba(227, 184, 115, 1);
}

/* ----- */
.block__photo_YourFantasies {
   width: 100%;
   max-width: 751px;
   height: 1017.86px;

   display: flex;
   justify-content: space-between;

}

.block__photo_one {
   width: 100%;
   max-width: 353.81px;
   height: 945.86px;

   margin-top: 72px;

   display: grid;
   grid-template-columns: 353.81px;
   grid-template-rows: 556.86px 349.47px;
   row-gap: 39.53px;
}

.block__photo_two {
   width: 100%;
   max-width: 353.81px;
   height: 937px;

   display: grid;
   grid-template-columns: 353.81px;
   grid-template-rows: 275px 625.23px;
   row-gap: 36.77px;
}

/* ------- */
/* -------------/SECTION_YourFantasies-------- */


/* -------------SECTION_OurClients-------- */
.section_OurClients {
   width: 100%;
   /* height: 642.03px; */
   height: 1950.54px;
   margin-top: 69.14px;

   display: flex;
   flex-direction: column;
   align-items: center;
}

@media (min-width: 320px) and (max-width: 430px) {
   .section_OurClients {
      display: none;

   }
}

#container_OurClients {
   width: 100%;
   max-width: 1236px;
   height: 642.03px;

   display: flex;
   flex-direction: column;
   align-items: center;

   /* background-color:rgba(227, 184, 115, 0.514); */
}

.h3_OurClients {
   width: 100%;
   max-width: 257px;
   height: 26px;

   color: rgba(24, 24, 24, 1);
   font-size: 20px;
   line-height: 27.72px;
   text-transform: uppercase;
   font-family: 'Yeseva One';

   text-align: center;

}

.img_OurClients {
   width: 100%;
   max-width: 114px;
   height: 27.62px;

   margin-top: 13.22px;
}

.p_OurClients {
   width: 100%;
   max-width: 476px;
   height: 57px;

   margin-top: 24.16px;
   margin-bottom: 39px;

   text-align: center;
   color: rgba(54, 54, 54, 1);
   font-size: 18px;
   line-height: 29.46px;
   font-family: 'Nunito Sans';
}

.block_client {
   width: 100%;
   max-width: 1236px;
   height: 455.03px;

   /* background-color:rgba(82, 63, 33, 0.425); */

   display: grid;
   grid-template-columns: repeat(3, 376px);
   grid-template-rows: 455.03px;
   column-gap: 54px;
}

.block__client_one,
.block__client_two,
.block__client_three {
   width: 100%;
   max-width: 376px;
   height: 455.03px;
}

.block__info_client {
   width: 100%;
   max-width: 376px;
   height: 428px;
   padding-top: 24px;

   background-color: rgba(255, 255, 255, 1);
   box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.04);

   position: absolute;
   z-index: -1;
}

.client_one,
.client_two,
.client_three {
   width: 100%;
   max-width: 376px;
   height: 76px;

   display: flex;
   align-items: center;
}

.img__client_one,
.img__client_two,
.img__client_three {
   width: 100%;
   max-width: 76px;
   height: 76px;
   margin: 0 23px 0 20px;
}

.h4_OurClients {
   width: 100%;
   max-width: 178px;
   height: 42px;

   color: rgba(24, 24, 24, 1);
   font-size: 18px;
   line-height: 22.87px;
   font-family: 'Yeseva One';
}

.p__OurClients_text {
   width: 100%;
   max-width: 324.08px;
   height: 216px;

   margin: 22px 0 0 20px;
   text-align: start;

   color: rgba(149, 149, 149, 1);
   font-size: 13px;
   line-height: 23.4px;
   font-family: 'Nunito Sans';
}

.img__info_client {
   width: 100%;
   max-width: 293.75px;
   height: 54px;

   margin-top: 401px;
}

/* ----------CONTAINER_QUESTIONS------------ */

.form_OurClients {
   width: 100%;
   max-width: 883px;
   height: 445.32px;

   display: flex;
   flex-direction: column;
   align-items: center;


   margin-top: 131.95px;
   background-color: rgba(24, 24, 24, 1);
}

.legend_OurClients {
   width: 100%;
   max-width: 257px;
   height: 26px;

   margin-top: 34.4px;
   text-align: center;

   color: rgba(255, 255, 255, 1);
   font-size: 20px;
   line-height: 27.72px;
   text-transform: uppercase;
   font-family: 'Yeseva One';
}

.block__label_OurClients {
   width: 100%;
   max-width: 520px;
   height: 138.8px;

   margin-top: 45.8px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.block__label_one {
   width: 100%;
   max-width: 520px;
   height: 45px;

   display: flex;
   justify-content: space-between;
}

.OurClients__label_name {
   width: 100%;
   max-width: 231px;
   height: 45px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.OurClients__label_phone {
   width: 100%;
   max-width: 231.01px;
   height: 45px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.block__label_two {
   width: 100%;
   max-width: 520px;
   height: 45px;
}

.OurClients__label_question {
   width: 100%;
   max-width: 516.82px;
   height: 45px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.input_OurClients {
   height: 25px;
   background-color: #13131300;
   border: none;

   color: #ffffff;
   font-weight: 400;
   font-size: 14px;
   line-height: 22.92px;
   font-family: 'Nunito Sans';
}

.p__OurClients_checkbox {
   width: 100%;
   max-width: 290px;
   height: 18px;
   margin-top: 46.46px;

   color: #ffffff;
   font-size: 14px;
   line-height: 22.92px;
   font-family: 'Nunito Sans';
   text-justify: center;
}

.checkbox_OurClients {
   margin: 0;
   width: 18px;
   height: 18px;

   margin-right: 8.62px;
   accent-color: rgba(227, 184, 115, 1);
   border-radius: 1px;

}

.OurClients_btn {
   width: 200px;
   height: 51px;

   margin-top: 50.45px;

   border-radius: 0;
   border: none;

   background-color: #E3B873;
   color: #ffffff;
   font-size: 13px;
   line-height: 26.6px;
   text-transform: uppercase;
   font-family: 'Nunito Sans';
}

/* ---Block_Adress---- */
.block_adress {
   width: 100%;
   max-width: 589px;
   height: 105px;
   margin-top: 52.01px;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.p__OurClients_adress {
   width: 100%;
   max-width: 589px;
   height: 51px;
   text-align: center;

   color: rgba(227, 184, 115, 1);
   font-size: 20px;
   line-height: 27.72px;
   text-transform: uppercase;
   font-family: 'Yeseva One';
}

.block__OurClients_link {
   width: 100%;
   max-width: 71px;
   height: 28px;

   margin-top: 26px;
   display: flex;
   justify-content: space-between;
}

.a_OurClients {
   width: 28px;
   height: 28px;
}


/* --/Block_Adress---- */

/* ---Block__OurClients_map--- */
.block__OurClients_map {
   width: 100%;
   max-width: 925px;
   height: 465px;

   margin-top: 43.29px;
}


/* --/Block__OurClients_map--- */

.block__background_one {
   width: 100%;
   height: 759.32px;

   position: absolute;
   z-index: -1;
   display: flex;
   justify-content: space-between;

   margin-top: 237.32px;

}

.img__background_one {
   width: 100%;
   height: 759.32px;
}

.block__background_two {
   width: 100%;
   height: 953.9px;

   position: absolute;
   z-index: -1;

   margin-top: 996.64px;

}

.img__background_two {
   width: 100%;
   height: 953.9px;

   position: absolute;
   z-index: -1;
}

.img_background {
   width: 100%;
   height: 953.9px;

}

/* --------------FOOTER--------- */
footer {
   width: 100%;
   height: 133px;
   display: flex;
   justify-content: center;


   background-color: #181818;
}

@media (min-width: 320px) and (max-width: 430px) {
   footer {
      display: none;

   }
}

#container_footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* --------------/FOOTER--------- */